/*기타 잡 설정*/
html{
    overflow:hidden;
    height:100%
}

blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul{
    margin:0;
    padding:0;
    -webkit-text-size-adjust:none
}

body,button,input,select,td,textarea,th{
    font-family:'나눔고딕',NanumGothic,sans-serif;
    font-size:13px;
    color:#fff;
}

body{
    position:relative;
    height:100%;
    min-height:100%;
}

fieldset,img{
    border:0 none;
    vertical-align:top
}

dl,li,menu,ol,ul{
    list-style:none
}

a{
    cursor: pointer;
    text-decoration:none
}

a:focus,a:hover{
    text-decoration:underline
}

input[type=text]::-ms-clear{
    display:none
}
::-moz-selection {
background-color: #a3caf9;
color: #a3caf9;
}

::selection {
background-color: #a3caf9;
color: #a3caf9;
}
/*기타 잡 설정 끝*/

#logo {
    height: 30px;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 1;

}
.comment {
    text-align: center;

}
.contatiner{
    width: 700px;
    margin: -222px 0px 0px -350px;
    position: absolute;
    top: 50%;
    left: 50%;   
}


#bg {
    position: fixed; top: 0; left: 0;
}
.bgwidth {
    width: 100%; 
}
.bgheight { 
    height: 100%; 
}


.loginForm{
    width: 280px;
    margin: 38px auto 50px ;   
}
.IconBox{
    position: relative;
}
.InputIcon{
    position:absolute;
    top:1px;
    left:245px;
    width: 14px;
}

input +span{
    position: relative;
    margin: 3px;
    top:-3px;   
}
/* 고스트 버튼 */
.ghost-btn {
    width:228px;
    height: 23px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    line-height: 20px;
    color: #ffffff;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 15px;
    padding: .5em 1.5em;
    background: transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    margin-bottom:10px;
}
.ghost-btn:focus {
    outline: none;
}

/* 고스트 버튼 끝 */

/*placeholder 색상 변경 */
*::-webkit-input-placeholder {
    color: #fff;
}
*:-moz-placeholder {
    color: #fff;
}
*::-moz-placeholder {
    color: #fff;
}
*:-ms-input-placeholder {
    color: #fff;
}
/*placeholder 색상 변경 끝*/

