#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}



body {
	padding: 10px;
	margin: 0;
}
#message1 {
	display: inline-block;
	width: 6em;
	text-align: center;
	background: green;
	visibility: hidden;
	color: #FFFFFF;
}
#message2 {
	display: inline-block;
	width: 6em;
	text-align: center;
	background: red;
	visibility: hidden;
	color: #FFFFFF;
}
#grid-addlist {
	list-style-type: none;
	padding: 0;
}
#grid-addlist li {
	float: left;
	margin: 3px;
	background-color: #556677;
	padding: 2px 4px;
	border-radius: 5px;
	cursor: pointer;
	color:#FFFFFF;
	display: none;
}
#grid-content {
	clear: both;
	overflow: hidden;
	height: 0;
	border: 1px solid #eb6100;
	background-color: #EEEEEE;
	background-image: url(./images/vgrid_back.gif);
	background-repeat: repeat;
}
#grid-content div {
	width: 150px;
	height: auto;
	border: 1px solid #000000;
	background-color: #AAAAAA;
	color: #FFFFFF;
	margin: 5px;
	padding: 3px;
}
#grid-content div h3 {
	font-size: 14px;
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}
#grid-content div p {
	margin: 0;
	padding: 0;
}

/* !!!default hide!!! */
#grid-addlist #list-a,
#grid-addlist #list-b,
#grid-addlist #list-c {
	display: inline;
}
#grid-a,
#grid-b,
#grid-c {
	display: none;
}


