<<<<<<< Updated upstream

.loginbox {
    position: fixed;
    width: 530px;
    height: 300px;
    background-color: #252525;
    padding: 35px;
    padding-bottom: 65px;
    border-radius: 10px;
    left: 50%;
    margin-left: -300px;
    top: 28%;
    box-shadow: 0px 5px 0px #111;
}

<<<<<<< Updated upstream
.textfield_2cols {
    padding: 5px;
=======
.textfield {
    padding: 5px;
    margin-left: 15px;
>>>>>>> Stashed changes
    width: 200px;
    font-size: 15px;
}

<<<<<<< Updated upstream
#ckID_btn {
    color: #ffffff;
    font-size: 13px;
    background: #3976bf;
    padding: 8px 25.5px;
=======
#login_btn {
    
    color: #ffffff;
    font-size: 13px;
    background: #3976bf;
    padding: 5px 15px;
    margin-left: 15px;
>>>>>>> Stashed changes
    text-decoration: none;
    border: none;
    text-align: center;
}

#ckID_btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#submit_btn {
    position: relative;
    width: 93.5%;
    left: 15px;
    margin-top: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #aaa;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 10px;
    border: solid #aaa 2px;
  text-decoration: none;
}

#submit_btn:hover {
    text-decoration: none;
    color: #fff;
    border: solid #fff 2px;
}




.autoLogin label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: 2px;
    top: 2px;
    background-color: #252525;
    
}

.autoLogin label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 10px 0.00px #fff;
}

.autoLogin input[type=checkbox]:checked + label:after {
    color: #fff;
    opacity: 1;
}

h3 {
    float: left;
    margin-top: 2.5px;
    margin-left: -85px;
    color: #ffffff;
    font-size: 15px;
}

.signupbox {
    position: fixed;
    width: 530px;
    height: auto;
    background-color: #252525;
    padding: 35px;
    padding-bottom: 65px;
    border-radius: 10px;
    left: 50%;
    margin-left: -300px;
<<<<<<< Updated upstream
    top: 10%;
=======
    top: 20%;
>>>>>>> Stashed changes
    box-shadow: 0px 5px 0px #111;
}

.signuptable {
<<<<<<< Updated upstream
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    border-color: transparent;
}



#ckName_btn {
    color: #ffffff;
    font-size: 13px;
    background: #3976bf;
    padding: 26px 23.5px;
    text-decoration: none;
    border: none;
    text-align: center;
}

#ckName_btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.option {
    text-align: right;
    width: 100px;
}

.textfield_3cols {
    padding: 5px;
    width: 300px;
    font-size: 15px;
}

.textfield {
    padding: 5px;
    width: 50px;
    font-size: 15px;
}

.select {
    border: none;
    border-radius: 0px;
    width: 65px;
    height: 33px;
}

#telecom {
    width: 96px;
=======
    text-align: right;
    color: white;
}
=======
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.signupform {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #252525;
>>>>>>> Stashed changes
}
>>>>>>> Stashed changes
