*{margin:0; padding: 0;}

.topNavbar_bg {
    position: fixed;
    width: 100%;
    height: 250px;
    margin-top: -40px;
    background-color: rgb(68,68,68);
}

.topNavbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(49,49,49);
}

#topNavbar_Logo {
    position: fixed;
    margin: 10px 20px; 
    height: 30px;
}

.topBarbg {
    width: 100%;
    height: 70px;
    background-color: #252525;
}

.logo {
    margin: 15px 20px;
}

.logotext {
    margin-bottom: 25px;
}
